@media (width > 480px) {
  .layout {
    display: grid;
    grid-template-rows: 60px auto 60px 75px;
    grid-template-columns: 300px auto;
    grid-template-areas:
      "aside header header"
      "aside main main"
      "aside footer footer"
      "banner banner banner";
  }

  aside .desktop {
    display: block;
    height: 100%;
  }

  aside .mobile {
    display: none;
    width: 100%;
  }

  footer {
    display: block;
  }

  .banner {
    display: block;
    width: 100%;
    overflow-y: hidden;
  }

  .banner iframe {
    width: 100%;
  }

  .search iframe {
    width: 100%;
  }

  
}
