
/* tela maior que 480px aplicar esse layout */
@media (width > 480px) {
  .layout {
    display: grid;
    grid-template-rows: 60px auto 60px;
    grid-template-columns: 160px auto;
    grid-template-areas:
      "aside header header"
      "aside main main"
      "footer footer footer";
  }
}
