body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-dark);
  font-family: var(--font-dm-sans);
}

/* mobile first */
.layout {
  display: grid;
  grid-template-rows: 60px auto 60px;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "main" "aside";
  height: 100vh;
}

header {
  background-color: #c08bfd;
  grid-area: header;
}

aside {
  background-color: #f6c356;
  grid-area: aside;
}

aside .desktop {
  display: none;
}

aside .mobile {
  display: block;
  width: 100%;
}

main {
  background-color: #b2ee94;
  grid-area: main;
}

.banner {
  display: none;
  background-color: #ff00cc7f;
  grid-area: banner;
}

footer {
  display: none;
  background-color: #684beab4;
  grid-area: footer;
}
/* end mobile first */
