body {
  margin: 0;
}

/* mobile first */
.layout {
  display: grid;
  grid-template-rows: 60px 60px auto 60px;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "aside" "main" "footer";
  height: 100vh;
}

header {
  background-color: #c08bfd;
  grid-area: header;
}

aside {
  background-color: #f6c356;
  grid-area: aside;
}

main {
  background-color: #b2ee94;
  grid-area: main;
}

footer {
  background-color: #8b96fd;
  grid-area: footer;
}
