body {
  margin: 0;
  background-color: var(--bg-dark);
  font-family: var(--font-dm-sans);
}

/* mobile first */
.layout {
  display: grid;
  grid-template-rows: 60px 60px auto 60px;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "aside" "main" "footer";
  height: 100vh;
}


header {
  background-color: #c08bfd;
  grid-area: header;
}

aside {
  background-color: #f6c356;
  grid-area: aside;
}

aside iframe {
  height: 100%;
}

main {
  background-color: #b2ee94;
  grid-area: main;
}

footer {
  background-color: #c08bfd;
  grid-area: footer;
}
/* end mobile first */
